@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #63ff63;
}

.description {
  font-size: 24px;
  max-width: 60%;
  margin: 30px 0;
  padding: 0;
}

.start {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  background: linear-gradient(90deg, #146014 0%, #06a506 100%);
  margin: 20px 0;
  padding: 15px;
  z-index: 2;
}

.start:hover {
  box-shadow: #64fc64 0px 0px 2px, #6dfc6d 0px 0px 10px;
}

h1 {
  line-height: 1.4;
  font-size: 80px;
  margin: 20px 0;
  padding: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #a67425 0%, #e39822 20%, #e5b862 50%, #faea93 100%);
  position: relative;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #63ff63;
  color: #63ff63;
}

.hide {
  opacity: 0;
}

.primary {
  color: #63ff63;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  width: 60%;
  height: 60%;
  border-radius: 30px;
  overflow: hidden;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.animal {
  position: absolute;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.bounce {
  width: 20%;
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: -100px;
  animation: tumbleweedBounce linear infinite 5s;
}

.tumbleweed {
  width: 100%;
  animation: rotation linear infinite 3s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes tumbleweedBounce {

  0% {
    transform: translateY(20px) translateX(0vw);
  }

  25% {
    transform: translateY(-50px) translateX(25vw);
  }

  50% {
    transform: translateY(20px) translateX(50vw);
  }

  75% {
    transform: translateY(-50px) translateX(75vw);
  }

  100% {
    transform: translateY(20px) translateX(100vw);
  }
}
